<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css/client.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <h1>Client</h1>
    <p>Choose from our incredible service providers</p>
   
        <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunctionA()">
	{{!-- <ol> --}}

        <table class="table">
            <tr>
                <th>Business type</th>
                <th>Full name</th>
            </tr>
            {{#each serviceProviders}}
                        <tr>
                            <td>{{business}}</td>
                            <td> <a href="/client/{{business}}">{{name}} {{surname}}</a></td>
                            
                        </tr>
            {{/each}}
        </table>
  
	
 <h4> {{messages.info}}</h4>
    </div>

</body>

</html>